{
  "plugins": [
    "stylelint-itcss",
    "stylelint-selector-bem-pattern"
  ],
    "extends": "stylelint-config-standard",
    "rules": {
      "at-rule-no-unknown": null,
      "import-notation": null,
      "itcss/no-at-important": true,
      "itcss/no-variable-declaration": false,
      "itcss/no-mixin-declaration": true,
      "plugin/selector-bem-pattern": {
        "componentName": "[A-Z]+",
        "componentSelectors": {
          "initial": "^\\.{componentName}(?:-[a-z]+)?$",
          "combined": "^\\.combined-{componentName}-[a-z]+$"
        },
        "utilitySelectors": "^\\.util-[a-z]+$"
      }
    }
  }
  