* {
  box-sizing: border-box;
  font-family: $font-family;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 2rem;
  font-family: $font-family;
  font-size: 16px;
  line-height: 24px;
  background-color: $bg;
  color: $highlightcolor;

  p {
    text-align: center;
    color: black;
    margin-bottom: 15px;
  }
}

.introduction {
  text-align: center;
  margin-bottom: 10px;

  i { color: $highlightcolor; }
}

.cards {
  display: flex;
  flex-direction: column;

  .category { font-style: italic; }

  .card {
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px;
  }

  .title {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: larger;
  }

  img {
    width: 50%;
    height: auto;
    border: 1px solid black;
  }

  .summary {
    text-align: center;
    background: $highlightcolor;
    border-radius: 0 0 15px 15px;
    margin-top: 1rem;
    padding: 10px;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a::after {
    position: absolute;
    inset: 0;
    z-index: 1;
  }
}

@media (width >= 1280px) {
  .cards {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .card {
    width: calc(16.666% - 10px);
    flex-direction: column;

    img {
      width: auto;
      height: 200px;
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      margin: 10px 10px 30px;
      font-size: 17px;
    }

    .summary { height: 40px; }
  }
}

@media (width <= 1280px) and (width >= 600) {
  .cards {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .card {
    width: calc(30% - 10px);
    flex-direction: column;

    img {
      width: auto;
      height: 200px;
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 80px;
      margin: 10px 10px 30px;
      font-size: 17px;
    }

    .summary { height: 40px; }
  }
}
